@media (max-width: 1200px) {
  #software .software--visa {
    padding: 115px 0 0 0;
  }
  #software .software--cloub {
    padding: 10px 0 0 42px;
  }
  #feature .feature--more__support--card1 {
    height: 125px;
  }
  #feature .feature--more__manage--card2 {
    height: 125px;
  }
  #feature .feature--more__budget--card3 {
    height: 125px;
  }
  #techno .techno--servers__cloud .icon {
    padding: 55px 0 0 0;
  }
  #techno .techno--servers__cloud h3 {
    font-size: 10px;
    width: 60%;
  }
  #techno .techno--servers__cloud h2 {
    padding: 10px 0;
  }
  #techno .techno--servers__secure .icon {
    padding: 55px 0 0 0;
  }
  #techno .techno--servers__secure h3 {
    font-size: 10px;
    width: 60%;
  }
  #techno .techno--servers__secure h2 {
    padding: 10px 0;
  }
  #techno .techno--servers__pdf .icon {
    padding: 55px 0 0 0;
  }
  #techno .techno--servers__pdf h3 {
    font-size: 10px;
    width: 60%;
  }
  #techno .techno--servers__pdf h2 {
    padding: 10px 0;
  }
  #techno .techno--servers__csv .icon {
    padding: 55px 0 0 0;
  }
  #techno .techno--servers__csv h3 {
    font-size: 10px;
    width: 60%;
  }
  #techno .techno--servers__csv h2 {
    padding: 10px 0;
  }
  #techno {
    padding: 0 0 100px 0;
  }
}
@media (max-width: 1024px) {
  #stay .stay--focused__img img {
    width: 30%;
  }
  #stay .stay--focused__cite {
    font-size: 14px;
  }
  #stay .stay--focused__saving {
    font-size: 37px;
  }
  #feature .feature--more__support img {
    width: 90%;
  }
  #feature .feature--more__support--card1 {
    width: 222px;
    height: 143px;
    margin-top: 144px;
  }
  #feature .feature--more__support--card1 p {
    padding: 8px 0;
  }
  #feature .feature--more__manage img {
    width: 90%;
  }
  #feature .feature--more__manage--card2 {
    width: 222px;
    height: 143px;
    margin-top: 144px;
  }
  #feature .feature--more__manage--card2 p {
    padding: 8px 0;
  }
  #feature .feature--more__budget img {
    width: 90%;
  }
  #feature .feature--more__budget--card3 {
    width: 222px;
    height: 143px;
    margin-top: 144px;
  }
  #feature .feature--more__budget--card3 p {
    padding: 8px 0;
  }
  #software .software--cloub {
    padding: 10px 0 0 13px;
  }
}
@media (max-width: 768px) {
  #stay .stay--focused {
    width: 100%;
  }
  #stay .stay--focused__cite {
    font-size: 12px;
    width: 85%;
    margin: 34px 0 25px 38px;
  }
  #stay .stay--focused__saving {
    font-size: 30px;
  }
  #stay .stay--focused .swiper {
    width: 35%;
  }
  #contact {
    height: 420px;
  }
  #contact .contact--money__below {
    font-size: 30px;
  }
  #contact .contact--help__request--inputs {
    width: 372px;
    height: 44px;
    font-size: 15px;
    margin: 2px 0 20px 0;
  }
  #contact .contact--help__request--own__input {
    width: 168px;
    height: 41px;
    font-size: 15px;
    margin: 0 0 20px 0;
  }
  #software .software--cloub {
    font-size: 12px;
  }
  #software .software--visa {
    display: flex;
    justify-content: space-between;
  }
  #software .software--visa__overview a {
    margin: 13px 0 0 0;
    font-size: 12px;
  }
  #software .software--visa__address img {
    width: 70%;
  }
  #software .software--visa__address--features {
    font-size: 16px;
  }
  #software .software--visa__address--pipang {
    font-size: 11px;
    margin: 13px 0 0 0;
  }
  #feature .feature--more__support--card1 {
    width: 145px;
    height: 100px;
    margin-top: 114px;
  }
  #feature .feature--more__support--card1 h1 {
    font-size: 15px;
  }
  #feature .feature--more__support--card1 p {
    font-size: 13px;
  }
  #feature .feature--more__manage--card2 {
    width: 145px;
    height: 100px;
    margin-top: 114px;
  }
  #feature .feature--more__manage--card2 h1 {
    font-size: 15px;
  }
  #feature .feature--more__manage--card2 p {
    font-size: 13px;
  }
  #feature .feature--more__budget--card3 {
    width: 145px;
    height: 100px;
    margin-top: 114px;
  }
  #feature .feature--more__budget--card3 h1 {
    font-size: 14px;
  }
  #feature .feature--more__budget--card3 p {
    font-size: 13px;
    padding: 9px 0;
  }
}
@media (max-width: 576px) {
  #stay .stay {
    flex-direction: column;
    text-align: center;
  }
  #stay .stay--focused {
    width: 100%;
  }
  #stay .stay--focused__img {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  #stay .stay--focused__img img {
    padding: 0 0 20px 80px;
    width: 18%;
  }
  #stay .stay--focused__cite {
    font-size: 12px;
    width: 85%;
    margin: 34px 0 25px 38px;
  }
  #stay .stay--focused__saving {
    font-size: 30px;
  }
  #stay .stay--focused .swiper {
    width: 35%;
  }
  #contact .contact--help__request--btn {
    margin: 0 0 0 100px;
  }
  #contact .contact--money__belows {
    width: 100%;
  }
  #contact .contact {
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  #contact .contact--money__below {
    font-size: 30px;
  }
  #contact .contact--help__request--inputs {
    width: 372px;
    height: 44px;
    font-size: 15px;
    margin: 2px 0 20px 0;
  }
  #contact .contact--help__request--own__input {
    width: 168px;
    height: 41px;
    font-size: 15px;
    margin: 0 0 20px 0;
  }
  #feature {
    padding: 0 0 160px;
  }
  #software .software--cloub {
    font-size: 12px;
  }
  #software .software--visa__overview {
    font-size: 12px;
  }
  #software .software--visa__overview a {
    margin: 13px 0 0 0;
    font-size: 12px;
  }
  #software .software--visa__address {
    font-size: 11px;
    margin: 0 12px;
  }
  #software .software--visa__address img {
    width: 50%;
  }
  #software .software--visa__address--features {
    font-size: 16px;
  }
  #software .software--visa__address--pipang {
    font-size: 9px;
  }
  #feature .feature--more__support--card1 {
    width: 95px;
    height: 95px;
    margin-top: 80px;
  }
  #feature .feature--more__support--card1 h1 {
    font-size: 11px;
  }
  #feature .feature--more__support--card1 p {
    font-size: 10px;
    padding: 5px 0;
  }
  #feature .feature--more__manage--card2 {
    width: 95px;
    height: 95px;
    margin-top: 80px;
  }
  #feature .feature--more__manage--card2 h1 {
    font-size: 12px;
  }
  #feature .feature--more__manage--card2 p {
    font-size: 10px;
    padding: 5px 0;
  }
  #feature .feature--more__budget--card3 {
    width: 95px;
    height: 95px;
    margin-top: 80px;
  }
  #feature .feature--more__budget--card3 h1 {
    font-size: 11px;
  }
  #feature .feature--more__budget--card3 p {
    font-size: 10px;
    padding: 5px 0;
  }
  #techno .techno--servers {
    align-items: start;
  }
  #techno .techno--servers__cloud .icon {
    font-size: 35px;
    padding: 63px 0 0 0;
  }
  #techno .techno--servers__cloud h2 {
    font-size: 15px;
  }
  #techno .techno--servers__cloud h3 {
    padding: 10px 0 0 0;
  }
  #techno .techno--servers__secure .icon {
    font-size: 35px;
    padding: 63px 0 0 0;
  }
  #techno .techno--servers__secure h2 {
    font-size: 15px;
  }
  #techno .techno--servers__secure h3 {
    padding: 10px 0 0 0;
  }
  #techno .techno--servers__pdf .icon {
    font-size: 35px;
    padding: 63px 0 0 0;
  }
  #techno .techno--servers__pdf h2 {
    font-size: 15px;
  }
  #techno .techno--servers__pdf p {
    font-size: 10px;
    padding: 5px 0;
  }
}
@media (max-width: 450px) {
  #feature {
    padding: 20px 0 130px 0;
  }
  #feature .feature--center {
    font-size: 25px;
  }
  #feature .feature--more__support--card1 {
    padding: 15px 20px;
    width: 70px;
    height: 80px;
    margin-top: 65px;
  }
  #feature .feature--more__support--card1 h1 {
    font-size: 8px;
  }
  #feature .feature--more__support--card1 p {
    font-size: 7px;
    padding: 10px 0;
  }
  #feature .feature--more__support--card1 a {
    font-size: 8px;
  }
  #feature .feature--more__manage--card2 {
    padding: 15px 20px;
    width: 70px;
    height: 80px;
    margin-top: 65px;
  }
  #feature .feature--more__manage--card2 h1 {
    font-size: 8px;
  }
  #feature .feature--more__manage--card2 p {
    font-size: 7px;
    padding: 10px 0;
  }
  #feature .feature--more__manage--card2 a {
    font-size: 8px;
  }
  #feature .feature--more__budget--card3 {
    padding: 15px 20px;
    width: 70px;
    height: 80px;
    margin-top: 65px;
  }
  #feature .feature--more__budget--card3 h1 {
    font-size: 8px;
  }
  #feature .feature--more__budget--card3 p {
    font-size: 7px;
    padding: 10px 0;
  }
  #feature .feature--more__budget--card3 a {
    font-size: 8px;
  }
  #techno .techno--tittle {
    font-size: 25px;
  }
  #techno .techno--servers__cloud h1 {
    font-size: 70px;
  }
  #techno .techno--servers__cloud .icon {
    font-size: 30px;
    padding: 42px 0 0 0;
  }
  #techno .techno--servers__cloud h2 {
    font-size: 12px;
  }
  #techno .techno--servers__cloud h3 {
    font-size: 8px;
  }
  #techno .techno--servers__secure h1 {
    font-size: 70px;
  }
  #techno .techno--servers__secure .icon {
    font-size: 30px;
    padding: 42px 0 0 0;
  }
  #techno .techno--servers__secure h2 {
    font-size: 12px;
  }
  #techno .techno--servers__secure h3 {
    font-size: 8px;
  }
  #techno .techno--servers__pdf h1 {
    font-size: 70px;
  }
  #techno .techno--servers__pdf .icon {
    font-size: 30px;
    padding: 42px 0 0 0;
  }
  #techno .techno--servers__pdf h2 {
    font-size: 12px;
  }
  #techno .techno--servers__pdf h3 {
    font-size: 9px;
  }
  #techno .techno--servers__csv h1 {
    font-size: 70px;
  }
  #techno .techno--servers__csv .icon {
    font-size: 30px;
    padding: 42px 0 0 0;
  }
  #techno .techno--servers__csv h2 {
    font-size: 12px;
  }
  #techno .techno--servers__csv h3 {
    font-size: 8px;
  }
}
@media (max-width: 414px) {
  #feature .feature--more__support--card1 {
    padding: 9px 10px;
    width: 76px;
    height: 65px;
    margin-top: 58px;
  }
  #feature .feature--more__support--card1 p {
    padding: 7px 0;
  }
  #feature .feature--more__manage--card2 {
    padding: 9px 10px;
    width: 76px;
    height: 65px;
    margin-top: 58px;
  }
  #feature .feature--more__manage--card2 p {
    padding: 7px 0;
  }
  #feature .feature--more__budget--card3 {
    padding: 9px 10px;
    width: 76px;
    height: 65px;
    margin-top: 58px;
  }
  #feature .feature--more__budget--card3 h1 {
    font-size: 7px;
  }
  #feature .feature--more__budget--card3 p {
    padding: 7px 0;
  }
}
@media (max-width: 380px) {
  #stay .stay .swiper {
    width: 300px;
    height: 200px;
  }
  #software .software--visa__overview {
    font-size: 10px;
  }
  #software .software--visa__overview a {
    margin: 13px 0 0 0;
    font-size: 9px;
  }
  #software .software--visa__overview--sylka img {
    width: 10px;
    height: 11px;
  }
  #software .software--visa__address {
    font-size: 11px;
    margin: 0 12px;
  }
  #software .software--visa__address--features {
    font-size: 10px;
  }
  #contact .contact--help__request--btn {
    margin: 0 0 0 79px;
  }
  #contact .contact--help__request--own__input {
    width: 140px;
    font-size: 10px;
  }
  #contact .contact--help__request--inputs {
    width: 312px;
    height: 38px;
  }
  #techno .techno--servers__cloud h1 {
    font-size: 55px;
  }
  #techno .techno--servers__cloud .icon {
    font-size: 23px;
  }
  #techno .techno--servers__cloud h2 {
    font-size: 10px;
  }
  #techno .techno--servers__cloud h3 {
    font-size: 7px;
    width: 80%;
  }
  #techno .techno--servers__secure h1 {
    font-size: 55px;
  }
  #techno .techno--servers__secure .icon {
    font-size: 23px;
  }
  #techno .techno--servers__secure h2 {
    font-size: 10px;
  }
  #techno .techno--servers__secure h3 {
    font-size: 7px;
    width: 80%;
  }
  #techno .techno--servers__pdf h1 {
    font-size: 55px;
  }
  #techno .techno--servers__pdf .icon {
    font-size: 23px;
  }
  #techno .techno--servers__pdf h2 {
    font-size: 10px;
  }
  #techno .techno--servers__pdf h3 {
    font-size: 7px;
    width: 80%;
  }
  #techno .techno--servers__csv h1 {
    font-size: 55px;
  }
  #techno .techno--servers__csv .icon {
    font-size: 23px;
  }
  #techno .techno--servers__csv h2 {
    font-size: 10px;
  }
  #techno .techno--servers__csv h3 {
    font-size: 7px;
    width: 80%;
  }
}
@media (max-width: 360px) {
  #stay .stay .swiper {
    width: 205px;
    height: 180px;
  }
}
@media (max-width: 320px) {
  #contact .contact--help__request--inputs {
    width: 300px;
  }
  feature {
    padding: 20px 0 90px 0;
  }
  feature .feature--more {
    flex-direction: column;
  }
  feature .feature--more__support img {
    width: 70%;
  }
  feature .feature--more__support--card1 {
    padding: 6px 5px;
    width: 165px;
    height: 55px;
    margin-top: 90px;
  }
  feature .feature--more__support--card1 h1 {
    font-size: 9px;
  }
  feature .feature--more__support--card1 p {
    font-size: 8px;
    padding: 8px 0;
  }
  feature .feature--more__support--card1 a {
    font-size: 6px;
  }
  feature .feature--more__manage {
    padding: 30px 0;
  }
  feature .feature--more__manage img {
    width: 70%;
  }
  feature .feature--more__manage--card2 {
    padding: 6px 5px;
    width: 165px;
    height: 55px;
    margin-top: 90px;
  }
  feature .feature--more__manage--card2 h1 {
    font-size: 9px;
  }
  feature .feature--more__manage--card2 p {
    font-size: 8px;
    padding: 8px 0;
  }
  feature .feature--more__manage--card2 a {
    font-size: 6px;
  }
  feature .feature--more__budget img {
    width: 70%;
  }
  feature .feature--more__budget--card3 {
    padding: 6px 5px;
    width: 165px;
    height: 55px;
    margin-top: 90px;
  }
  feature .feature--more__budget--card3 h1 {
    font-size: 9px;
  }
  feature .feature--more__budget--card3 p {
    font-size: 8px;
    padding: 8px 0;
  }
  feature .feature--more__budget--card3 a {
    font-size: 6px;
  }
  #techno {
    padding: 0 0 50px 0;
  }
  #techno .techno--servers {
    flex-direction: column;
    align-items: center;
  }
  #techno .techno--servers__cloud h1 {
    font-size: 70px;
  }
  #techno .techno--servers__cloud .icon {
    font-size: 30px;
  }
  #techno .techno--servers__cloud h2 {
    font-size: 13px;
  }
  #techno .techno--servers__cloud h3 {
    font-size: 10px;
    width: 60%;
  }
  #techno .techno--servers__secure {
    padding: 30px 0;
  }
  #techno .techno--servers__secure h1 {
    font-size: 70px;
  }
  #techno .techno--servers__secure .icon {
    font-size: 30px;
  }
  #techno .techno--servers__secure h2 {
    font-size: 13px;
  }
  #techno .techno--servers__secure h3 {
    font-size: 10px;
    width: 60%;
  }
  #techno .techno--servers__pdf {
    padding: 0 0 30px 0;
  }
  #techno .techno--servers__pdf h1 {
    font-size: 70px;
  }
  #techno .techno--servers__pdf .icon {
    font-size: 30px;
  }
  #techno .techno--servers__pdf h2 {
    font-size: 13px;
  }
  #techno .techno--servers__pdf h3 {
    font-size: 10px;
    width: 60%;
  }
  #techno .techno--servers__csv h1 {
    font-size: 70px;
  }
  #techno .techno--servers__csv .icon {
    font-size: 30px;
  }
  #techno .techno--servers__csv h2 {
    font-size: 13px;
  }
  #techno .techno--servers__csv h3 {
    font-size: 10px;
    width: 60%;
  }
}

/*# sourceMappingURL=media.css.map */
