* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
}

#hero .hero {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0 0 0;
  width: 90%;
  color: white;
}
#hero .hero--menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
#hero .hero--menu a {
  color: white;
  text-decoration: none;
}
#hero .hero--cloud {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}
#hero .hero--general {
  display: flex;
  align-items: center;
}
#hero .hero--general select {
  background: rgba(38, 39, 43, 0);
  border: solid rgba(38, 39, 43, 0);
  color: white;
}
#hero .hero--general__btn {
  width: 100px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background: rgba(38, 39, 43, 0);
  margin: 0 15px;
  color: white;
}

#project {
  background-image: url("/img2/foto.png");
  width: 100%;
  height: 600px;
  padding: 80px 0 0 0;
  color: white;
  font-family: "Lato", sans-serif;
}
#project .project--budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 100px;
}
#project .project--budget__circle {
  font-size: 80px;
}
#project .project--budget__pro {
  text-align: center;
  margin: 40px 0;
}
#project .project--budget__btns {
  width: 160px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 6px;
  border: solid #ffffff;
  color: #ED4C5C;
}
#project .project--budget__btns:hover {
  width: 200px;
  height: 70px;
  background: #ED4C5C;
  color: brown;
}

#budget .budget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px 0 40px;
}
#budget .budget--use__work {
  padding: 20px 0;
  font-size: 46px;
  line-height: 43px;
  color: #000000;
}
#budget .budget--use__dox {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-align: justify;
  color: #000000;
  width: 65%;
}
#budget .budget--use__fox {
  color: #ED4C5C;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0;
}
#budget .budget--water {
  display: flex;
  align-items: center;
}
#budget .budget--water ion-icon {
  position: absolute;
  color: #ED4C5C;
  width: 66px;
  height: 66px;
  margin: 20px -40px;
}
#budget .budget--water img {
  margin-top: 10%;
  width: 445px;
  height: 311px;
  border-radius: 15px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  margin: 0;
  padding: 30px 0;
  list-style: none;
  background-color: transparent;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 6px 54px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#feature {
  background: #FAFAFA;
  padding: 0 0 300px;
}
#feature .feature--center {
  color: black;
  font-size: 70px;
}
#feature .feature--more {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 50px 0 0 0;
}
#feature .feature--more #feature {
  background: #FAFAFA;
  padding: 50px 0 300px 0;
}
#feature .feature--more #feature .feature--center {
  color: black;
  font-size: 70px;
}
#feature .feature--more #feature .feature--more {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 50px 0 0 0;
}
#feature .feature--more #feature .feature__support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#feature .feature--more #feature .feature img {
  width: 90%;
}
#feature .feature--more #feature .feature--card1 {
  background: white;
  padding: 30px 30px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 245px;
  height: 170px;
  position: absolute;
  margin-top: 170px;
}
#feature .feature--more #feature .feature h1 {
  font-size: 24px;
  color: #101010;
  text-align: center;
}
#feature .feature--more #feature .feature p {
  font-size: 18px;
  color: #101010;
  text-align: center;
  padding: 28px 0;
}
#feature .feature--more #feature .feature a {
  text-decoration: none;
  color: #ED4C5C;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
#feature .feature--more__manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#feature .feature--more__manage img {
  width: 90%;
}
#feature .feature--more__manage--card2 {
  background: white;
  padding: 30px 30px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 245px;
  height: 170px;
  position: absolute;
  margin-top: 170px;
}
#feature .feature--more__manage--card2 h1 {
  font-size: 24px;
  color: #101010;
  text-align: center;
}
#feature .feature--more__manage--card2 p {
  font-size: 18px;
  color: #101010;
  text-align: center;
  padding: 28px 0;
  padding: 19px 0;
}
#feature .feature--more__manage--card2 a {
  text-decoration: none;
  color: #ED4C5C;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
#feature .feature--more__budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#feature .feature--more__budget img {
  width: 90%;
}
#feature .feature--more__budget--card3 {
  background: white;
  padding: 30px 30px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 245px;
  height: 170px;
  position: absolute;
  margin-top: 170px;
}
#feature .feature--more__budget--card3 h1 {
  font-size: 24px;
  color: #101010;
  text-align: center;
}
#feature .feature--more__budget--card3 p {
  font-size: 18px;
  color: #101010;
  text-align: center;
  padding: 28px 0;
}
#feature .feature--more__budget--card3 a {
  text-decoration: none;
  color: #ED4C5C;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

#techno .techno--tittle {
  color: black;
  font-size: 70px;
  padding: 60px 0 0 0;
}
#techno .techno--servers {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 50px 0 0 0;
}
#techno .techno--servers__cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__cloud h1 {
  font-size: 150px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__cloud .icon {
  color: #ED4C5C;
  font-size: 70px;
  padding: 90px 0 0 0;
}
#techno .techno--servers__cloud h2 {
  font-size: 25px;
  color: #101010;
  padding: 15px 0;
}
#techno .techno--servers__cloud h3 {
  font-size: 17px;
  width: 70%;
  color: black;
  text-align: center;
}
#techno .techno--servers__secure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__secure h1 {
  font-size: 150px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__secure .icon {
  color: #ED4C5C;
  font-size: 70px;
  padding: 90px 0 0 0;
}
#techno .techno--servers__secure h2 {
  font-size: 25px;
  color: #101010;
  padding: 15px 0;
}
#techno .techno--servers__secure h3 {
  font-size: 17px;
  width: 70%;
  color: black;
  text-align: center;
}
#techno .techno--servers__pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__pdf h1 {
  font-size: 150px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__pdf .icon {
  color: #ED4C5C;
  font-size: 70px;
  padding: 90px 0 0 0;
}
#techno .techno--servers__pdf h2 {
  font-size: 25px;
  color: #101010;
  padding: 15px 0;
}
#techno .techno--servers__pdf h3 {
  font-size: 17px;
  width: 70%;
  color: black;
  text-align: center;
}
#techno .techno--servers__csv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__csv h1 {
  font-size: 150px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__csv .icon {
  color: #ED4C5C;
  font-size: 70px;
  padding: 90px 0 0 0;
}
#techno .techno--servers__csv h2 {
  font-size: 25px;
  color: #101010;
  padding: 15px 0;
}
#techno .techno--servers__csv h3 {
  font-size: 17px;
  width: 70%;
  color: black;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
