* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
}

#stay {
  background: #ED4C5C;
  padding: 120px 0 100px 0;
}
#stay .stay {
  display: flex;
  justify-content: space-around;
}
#stay .stay--focused {
  font-family: "Lato", sans-serif;
  color: white;
  width: 40%;
}
#stay .stay--focused__saving {
  font-size: 46px;
}
#stay .stay--focused__cite {
  font-size: 16px;
  width: 85%;
  margin: 70px 0 70px 0;
  font-weight: 400;
  line-height: 140%;
}
#stay .stay--focused__img {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}
#stay .stay .swiper {
  width: 364px;
  height: 258px;
}
#stay .stay .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

#contact {
  height: 600px;
}
#contact .contact {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 105px 0 0 0;
}
#contact .contact--money__below {
  font-size: 46px;
  color: black;
}
#contact .contact--money__belows {
  width: 67%;
  margin: 40px 0 0 0;
}
#contact .contact--help__request {
  display: flex;
  flex-direction: column;
}
#contact .contact--help__request--own {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
#contact .contact--help__request--own__input {
  width: 255px;
  height: 60px;
  border: 1px solid rgba(34, 34, 34, 0.66);
  border-radius: 6px;
  font-size: 20px;
  margin: 0 0 20px 0;
  font-size: 20px;
}
#contact .contact--help__request--inputs {
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  font-size: 20px;
  margin: 20px 0 20px 0;
}
#contact .contact--help__request--btn {
  width: 160px;
  height: 50px;
  color: white;
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  border-radius: 6px;
  margin: 20px 0 20px 0;
}
#contact .contact--help__request--btn:hover {
  width: 200px;
  height: 85px;
  background: #da7474;
  color: black;
}

#software {
  background: #FAFAFA;
  padding: 50px 0 0 0;
}
#software .software {
  font-family: "Lato", sans-serif;
}
#software .software--visa {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 0 0;
}
#software .software--visa__address img {
  margin: 20px 0 0 0;
}
#software .software--visa__address--features {
  font-size: 25px;
  line-height: 29px;
}
#software .software--visa__address--pipang {
  font-size: 15px;
  margin: 50px 0 0 0;
}
#software .software--visa__overview a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 0;
}
#software .software--visa__overview--sylka {
  display: flex;
  justify-content: space-evenly;
}
#software .software--visa__overview--sylka img {
  margin: 15px 0 0 0;
  width: 18px;
  height: 18px;
}
#software .software--cloub {
  padding: 10px 0 50px 84px;
  font-size: 15px;
}

#feature {
  background: #FAFAFA;
  padding: 0 0 300px;
}
#feature .feature--center {
  color: black;
  font-size: 36px;
}
#feature .feature--more {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0 0 0;
}
#feature .feature--more__support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#feature .feature--more__support--card1 {
  background: white;
  padding: 30px 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 270px;
  height: 150px;
  position: absolute;
  margin-top: 170px;
}
#feature .feature--more__support--card1 h1 {
  font-size: 18px;
  color: #101010;
  text-align: center;
}
#feature .feature--more__support--card1 p {
  font-size: 17px;
  color: #101010;
  text-align: center;
  padding: 20px 0;
}
#feature .feature--more__support--card1 a {
  text-decoration: none;
  color: #ED4C5C;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
#feature .feature--more__manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#feature .feature--more__manage--card2 {
  background: white;
  padding: 30px 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 270px;
  height: 150px;
  position: absolute;
  margin-top: 170px;
}
#feature .feature--more__manage--card2 h1 {
  font-size: 18px;
  color: #101010;
  text-align: center;
}
#feature .feature--more__manage--card2 p {
  font-size: 17px;
  color: #101010;
  text-align: center;
  padding: 20px 0;
  padding: 33px 0;
}
#feature .feature--more__manage--card2 a {
  text-decoration: none;
  color: #ED4C5C;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
#feature .feature--more__budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#feature .feature--more__budget--card3 {
  background: white;
  padding: 30px 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 270px;
  height: 150px;
  position: absolute;
  margin-top: 170px;
}
#feature .feature--more__budget--card3 h1 {
  font-size: 18px;
  color: #101010;
  text-align: center;
}
#feature .feature--more__budget--card3 p {
  font-size: 17px;
  color: #101010;
  text-align: center;
  padding: 20px 0;
}
#feature .feature--more__budget--card3 a {
  text-decoration: none;
  color: #ED4C5C;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

#techno .techno--tittle {
  color: black;
  font-size: 36px;
  padding: 60px 0 0 0;
}
#techno .techno--servers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0 0 0;
}
#techno .techno--servers__cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__cloud h1 {
  font-size: 100px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__cloud .icon {
  color: #ED4C5C;
  font-size: 50px;
  padding: 65px 0 0 0;
}
#techno .techno--servers__cloud h2 {
  font-size: 18px;
  color: #101010;
  padding: 10px 0;
}
#techno .techno--servers__cloud h3 {
  font-size: 10px;
  color: black;
  text-align: center;
  width: 50%;
}
#techno .techno--servers__secure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__secure h1 {
  font-size: 100px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__secure .icon {
  color: #ED4C5C;
  font-size: 50px;
  padding: 65px 0 0 0;
}
#techno .techno--servers__secure h2 {
  font-size: 18px;
  color: #101010;
  padding: 10px 0;
}
#techno .techno--servers__secure h3 {
  font-size: 10px;
  color: black;
  text-align: center;
  width: 50%;
}
#techno .techno--servers__pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__pdf h1 {
  font-size: 100px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__pdf .icon {
  color: #ED4C5C;
  font-size: 50px;
  padding: 65px 0 0 0;
}
#techno .techno--servers__pdf h2 {
  font-size: 18px;
  color: #101010;
  padding: 10px 0;
}
#techno .techno--servers__pdf h3 {
  font-size: 10px;
  color: black;
  text-align: center;
  width: 50%;
}
#techno .techno--servers__csv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#techno .techno--servers__csv h1 {
  font-size: 100px;
  color: rgba(16, 16, 16, 0.0784313725);
  position: absolute;
}
#techno .techno--servers__csv .icon {
  color: #ED4C5C;
  font-size: 50px;
  padding: 65px 0 0 0;
}
#techno .techno--servers__csv h2 {
  font-size: 18px;
  color: #101010;
  padding: 10px 0;
}
#techno .techno--servers__csv h3 {
  font-size: 10px;
  color: black;
  text-align: center;
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
