@media (max-width: 1200px) {
  #software {
    .software {
      &--visa {
        padding: 115px 0 0 0;
      }

      &--cloub {
        padding: 10px 0 0 42px;
      }
    }
  }
  #feature .feature--more__support--card1 {
    height: 125px;
  }
  #feature .feature--more__manage--card2 {
    height: 125px;
  }
  #feature .feature--more__budget--card3 {
    height: 125px;
  }
  #techno .techno--servers__cloud {
    .icon {
      padding: 55px 0 0 0;
    }

    h3 {
      font-size: 10px;
      width: 60%;
    }

    h2 {
      padding: 10px 0;
    }
  }
  #techno .techno--servers__secure {
    .icon {
      padding: 55px 0 0 0;
    }

    h3 {
      font-size: 10px;
      width: 60%;
    }

    h2 {
      padding: 10px 0;
    }
  }
  #techno .techno--servers__pdf {
    .icon {
      padding: 55px 0 0 0;
    }

    h3 {
      font-size: 10px;
      width: 60%;
    }

    h2 {
      padding: 10px 0;
    }
  }
  #techno .techno--servers__csv {
    .icon {
      padding: 55px 0 0 0;
    }

    h3 {
      font-size: 10px;
      width: 60%;
    }

    h2 {
      padding: 10px 0;
    }
  }
  #techno {
    padding: 0 0 100px 0;
  }
}

@media (max-width: 1024px) {
  #stay {
    .stay {
      &--focused {
        &__img {
          img {
            width: 30%;
          }

        }

        &__cite {
          font-size: 14px;

        }

        &__saving {
          font-size: 37px;
        }
      }
    }
  }
  #budget {
    .budget {
      &--water {
        img {
          width: 402px;
          height: 273px;
          border-radius: 6px;
        }
      }

      &--use {
        &__dox {
          font-size: 12px;
          width: 85%;

        }

        &__work {
          padding: 23px 0;
          font-size: 30px;
          line-height: 33px;
        }
      }
    }
  }
  #feature {
    .feature {
      &--more {
        &__support {
          img {
            width: 90%;
          }

          &--card1 {
            width: 222px;
            height: 143px;
            margin-top: 144px;

            p {
              padding: 8px 0;
            }
          }
        }

        &__manage {
          img {
            width: 90%;
          }

          &--card2 {
            width: 222px;
            height: 143px;
            margin-top: 144px;

            p {
              padding: 8px 0;
            }
          }
        }

        &__budget {
          img {
            width: 90%;
          }

          &--card3 {
            width: 222px;
            height: 143px;
            margin-top: 144px;

            p {
              padding: 8px 0;
            }
          }
        }
      }
    }
  }
  #software {
    .software {
      &--cloub {
        padding: 10px 0 0 13px;
      }
    }
  }
}

@media (max-width: 992px) {
  #hero {
    .hero {
      &--menu {
        width: 60%;

      }
    }
  }
  #project {
    .project {
      &--budget {
        &__btns:hover {
          width: 155px;
          height: 54px;
        }

        &__btns {
          width: 139px;
          height: 45px
        }
      }

      &__circle {
        font-size: 70px;
      }
    }
  }


}

@media (max-width: 768px) {
  #stay {
    .stay {

      &--focused {
        width: 100%;


        &__cite {
          font-size: 12px;
          width: 85%;
          margin: 34px 0 25px 38px;
        }

        &__saving {
          font-size: 30px;
        }

        .swiper {
          width: 35%;

        }

      }
    }
  }
  #contact {
    height: 420px;

    .contact {
      &--money {
        &__below {
          font-size: 30px;
        }
      }

      &--help {
        &__request {
          &--inputs {
            width: 372px;
            height: 44px;
            font-size: 15px;
            margin: 2px 0 20px 0;
          }

          &--own {
            &__input {
              width: 168px;
              height: 41px;
              font-size: 15px;
              margin: 0 0 20px 0;
            }
          }
        }
      }

    }
  }
  #software {
    .software {;

      &--cloub {
        font-size: 12px;
      }

      &--visa {
        display: flex;
        justify-content: space-between;

        &__overview a {
          margin: 13px 0 0 0;
          font-size: 12px;
        }

        &__address {
          img {
            width: 70%;
          }

          &--features {
            font-size: 16px;
          }

          &--pipang {
            font-size: 11px;
            margin: 13px 0 0 0;
          }
        }
      }
    }
  }
  #feature{
    .feature{
      &--more{
        &__support{
          &--card1{
            width: 145px;
            height: 100px;
            margin-top: 114px;
            h1{
              font-size: 15px;
            }
            p{
              font-size: 13px;
            }
          }
        }
        &__manage{
          &--card2{
            width: 145px;
            height: 100px;
            margin-top: 114px;
            h1{
              font-size: 15px;
            }
            p{
              font-size: 13px;
            }
          }
        }
        &__budget{
          &--card3{
            width: 145px;
            height: 100px;
            margin-top: 114px;
            h1{
              font-size: 14px;
            }
            p{
              font-size: 13px;
              padding: 9px 0;
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      &--general {
        &__btn {
          width: 75px;
          height: 31px;
          margin: 0 -4px;
        }

      }

      &--menu {
        width: 60%;
        font-size: 12px;

      }

      &--cloud {
        width: 25%;
        font-size: 15px;

      }

      padding: 68px 0 0 0;

    }
  }
  #project {
    height: 465px;

    .project {
      &--budget {
        &__circle {
          font-size: 60px;

        }
      }
    }
  }
  #budget {
    .budget {
      &--use {
        &__fox {
          font-size: 13px;
        }

        &__dox {
          font-size: 10px;
          width: 95%;
        }

        &__work {
          padding: 34px 0;
          font-size: 25px;
        }
      }

      &--water {
        ion-icon {
          width: 47px;
          height: 88px;
          margin: 0 0 0 -26px
        }

        img {
          width: 277px;
          height: 230px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #stay {
    .stay {
      flex-direction: column;
      text-align: center;

      &--focused {
        width: 100%;

        &__img {
          align-items: center;
          display: flex;
          justify-content: space-between;

          img {
            padding: 0 0 20px 80px;
            width: 18%;
          }
        }

        &__cite {
          font-size: 12px;
          width: 85%;
          margin: 34px 0 25px 38px;
        }

        &__saving {
          font-size: 30px;
        }

        .swiper {
          width: 35%;

        }

      }
    }
  }
  #contact {
    .contact {
      &--help {

        &__request {

          &--btn {

            margin: 0 0 0 100px;
          }
        }
      }

      &--money {
        &__belows {
          width: 100%;
        }
      }
    }

    .contact {
      flex-direction: column;
      display: flex;
      text-align: center;

      &--money {
        &__below {
          font-size: 30px;
        }
      }

      &--help {
        &__request {
          &--inputs {
            width: 372px;
            height: 44px;
            font-size: 15px;
            margin: 2px 0 20px 0;
          }

          &--own {
            &__input {
              width: 168px;
              height: 41px;
              font-size: 15px;
              margin: 0 0 20px 0;
            }
          }
        }
      }

    }
  }
  #feature {
    padding: 0 0 160px;
  }
  #software {
    .software {;

      &--cloub {
        font-size: 12px;
      }

      &--visa {


        &__overview {
          font-size: 12px;

          a {
            margin: 13px 0 0 0;
            font-size: 12px;
          }

        }

        &__address {
          font-size: 11px;
          margin: 0 12px;

          img {
            width: 50%;
          }

          &--features {
            font-size: 16px;
          }

          &--pipang {
            font-size: 9px;
          }
        }
      }
    }
  }
  #feature .feature--more__support--card1 {
    width: 95px;
    height: 95px;
    margin-top: 80px;

    h1 {
      font-size: 11px;
    }

    p {
      font-size: 10px;
      padding: 5px 0;
    }
  }
  #feature .feature--more__manage--card2 {
    width: 95px;
    height: 95px;
    margin-top: 80px;

    h1 {
      font-size: 12px;
    }

    p {
      font-size: 10px;
      padding: 5px 0;
    }
  }
  #feature .feature--more__budget--card3 {
    width: 95px;
    height: 95px;
    margin-top: 80px;

    h1 {
      font-size: 11px;
    }

    p {
      font-size: 10px;
      padding: 5px 0;
    }
  }
  #techno {
    .techno {
      &--servers {
        align-items: start;

        &__cloud {
          .icon {
            font-size: 35px;
            padding: 63px 0 0 0;
          }

          h2 {
            font-size: 15px;
          }

          h3 {
            padding: 10px 0 0 0;
          }
        }

        &__secure {
          .icon {
            font-size: 35px;
            padding: 63px 0 0 0;
          }

          h2 {
            font-size: 15px;
          }

          h3 {
            padding: 10px 0 0 0;
          }
        }

        &__pdf {
          .icon {
            font-size: 35px;
            padding: 63px 0 0 0;
          }

          h2 {
            font-size: 15px;
          }

          p {
            font-size: 10px;
            padding: 5px 0;
          }
        }
      }
    }
  }
  #hero {
    .hero {
      padding: 25px 0 0 0;

      &--general {
        img {
          width: 20px;
        }

        &__btn {
          width: 56px;
          height: 26px;
          margin: 0 -5px;
        }
      }

      &--menu {
        width: 70%;
        font-size: 9px;
      }

      &--cloud {
        width: 25%;
        font-size: 11px;
      }
    }
  }
  #budget {
    .budget {
      &--use {
        &__dox {
          font-size: 7px;
          width: 95%;
        }

        &__work {
          line-height: 23px;
          padding: 3px 0;
          font-size: 18px;
        }
      }

      &--water {
        ion-icon {
          width: 30px;
          margin: 0 -18px;
        }

        img {
          width: 178px;
          height: 158px
        }
      }
    }
  }
  #project {
    .project {
      &--budget {
        &__circle {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
    #feature {
      padding: 20px 0 130px 0;

      .feature {
        &--center {
          font-size: 25px;
        }

        &--more {
          &__support {
            &--card1 {
              padding: 15px 20px;
              width: 70px;
              height: 80px;
              margin-top: 65px;

              h1 {
                font-size: 8px;
              }

              p {
                font-size: 7px;
                padding: 10px 0;
              }

              a {
                font-size: 8px;
              }
            }
          }

          &__manage {
            &--card2 {
              padding: 15px 20px;
              width: 70px;
              height: 80px;
              margin-top: 65px;

              h1 {
                font-size: 8px;
              }

              p {
                font-size: 7px;
                padding: 10px 0;
              }

              a {
                font-size: 8px;
              }
            }
          }

          &__budget {
            &--card3 {
              padding: 15px 20px;
              width: 70px;
              height: 80px;
              margin-top: 65px;

              h1 {
                font-size: 8px;
              }

              p {
                font-size: 7px;
                padding: 10px 0;
              }

              a {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
    #techno {
      .techno {
        &--tittle {
          font-size: 25px;
        }

        &--servers {
          &__cloud {
            h1 {
              font-size: 70px;
            }

            .icon {
              font-size: 30px;
              padding: 42px 0 0 0
            }

            h2 {
              font-size: 12px;
            }

            h3 {
              font-size: 8px;
            }
          }

          &__secure {
            h1 {
              font-size: 70px;
            }

            .icon {
              font-size: 30px;
              padding: 42px 0 0 0
            }

            h2 {
              font-size: 12px;
            }

            h3 {
              font-size: 8px;
            }
          }

          &__pdf {
            h1 {
              font-size: 70px;
            }

            .icon {
              font-size: 30px;
              padding: 42px 0 0 0
            }

            h2 {
              font-size: 12px;
            }

            h3 {
              font-size: 9px;
            }
          }

          &__csv {
            h1 {
              font-size: 70px;
            }

            .icon {
              font-size: 30px;
              padding: 42px 0 0 0
            }

            h2 {
              font-size: 12px;
            }

            h3 {
              font-size: 8px;
            }
          }
        }
      }
    }
  #hero {
    .hero {
      &--cloud {
      }

      &--general {
        display: none;
      }

      &--menu {
        display: none;
      }

    }
  }
  #budget {
    .budget {
      &--water {
        ion-icon {
          width: 53px;
          margin: 0 -30px;
        }

        img {
          width: 295px;
          height: 197px;
        }
      }

      display: flex;
      flex-direction: column;

      &--use {
        &__dox {
          font-size: 13px;
          width: 100%
        }

        &__work {
          padding: 24px 0;
          font-size: 28px
        }
      }
    }
  }
  #project {
    height: 424px;

    .project {
      &--budget {
        &__circle {
          font-size: 40px

        }
      }
    }
  }
}

@media (max-width: 414px) {
  #feature {
    .feature {
      &--more {
        &__support {
          &--card1 {
            padding: 9px 10px;
            width: 76px;
            height: 65px;
            margin-top: 58px;

            p {
              padding: 7px 0;
            }
          }
        }

        &__manage {
          &--card2 {
            padding: 9px 10px;
            width: 76px;
            height: 65px;
            margin-top: 58px;

            p {
              padding: 7px 0;
            }
          }
        }

        &__budget {
          &--card3 {
            padding: 9px 10px;
            width: 76px;
            height: 65px;
            margin-top: 58px;

            h1 {
              font-size: 7px;
            }

            p {
              padding: 7px 0;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 380px) {
  #stay {
    .stay {
      .swiper {
        width: 300px;
        height: 200px;
      }
    }
  }
  #software {
    .software {
      &--visa {
        &__overview {
          font-size: 10px;

          a {
            margin: 13px 0 0 0;
            font-size: 9px;
          }

          &--sylka img {
            width: 10px;
            height: 11px;
          }
        }

        &__address {
          font-size: 11px;
          margin: 0 12px;

          &--features {
            font-size: 10px;
          }

        }
      }
    }
  }

  #contact {
    .contact {
      &--help {
        &__request {
          &--btn {
            margin: 0 0 0 79px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
}

@media (max-width: 360px) {
  #budget {
    .budget {
      &--use {
        &__work {
          padding: 9px 0;
          font-size: 20px;
        }
      }
    }
  }
  #stay {
    .stay {
      .swiper {
        width: 205px;
        height: 180px;
      }
    }
  }
}

@media (max-width: 320px) {
  #feature {
    padding: 20px 0 90px 0;

    .feature {
      &--more {
        flex-direction: column;

        &__support {
          img {
            width: 70%;
          }

          &--own {
            &__input {
              width: 140px;
              font-size: 10px;
            }
          }

          &--inputs {
            width: 312px;
            height: 38px;
          }
        }
      }
    }
  }
  #techno {
    .techno {
      &--servers {
        &__cloud {
          h1 {
            font-size: 55px;
          }

          .icon {
            font-size: 23px;
          }

          h2 {
            font-size: 10px;
          }

          h3 {
            font-size: 7px;
            width: 80%;
          }
        }

        &__secure {
          h1 {
            font-size: 55px;
          }

          .icon {
            font-size: 23px;
          }

          h2 {
            font-size: 10px;
          }

          h3 {
            font-size: 7px;
            width: 80%;
          }
        }

        &__pdf {
          h1 {
            font-size: 55px;
          }

          .icon {
            font-size: 23px;
          }

          h2 {
            font-size: 10px;
          }

          h3 {
            font-size: 7px;
            width: 80%;
          }
        }

        &__csv {
          h1 {
            font-size: 55px;
          }

          .icon {
            font-size: 23px;
          }

          h2 {
            font-size: 10px;
          }

          h3 {
            font-size: 7px;
            width: 80%;
          }
        }
      }
    }
  }
  #contact {
    .contact {
      &--help {
        &__request {
          &--inputs {
            width: 300px;
          }
        }
      }
    }
  }
  #project{
    .project{
      &--budget{
        &__circle{
          font-size: 30px;
        }
        &__pro{
          margin: 33px 0;
          font-size: 12px;

        }
      }
    }
  }
  #budget{
    .budget{
      &--use{
        &__dox{
          font-size: 10px;
        }
      }
      &--water{
        ion-icon{
          width: 47px;
          margin: 0 -26px;
        }
        img {
          width: 259px;
        }
      }
    }
  }
}
