@media (max-width: 1200px) {
  #software {
    .software {
      &--visa {
        padding: 115px 0 0 0;
      }

      &--cloub {
        padding: 10px 0 0 42px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #stay {
    .stay {
      &--focused {
        &__img {
          img {
            width: 30%;
          }

        }

        &__cite {
          font-size: 14px;

        }

        &__saving {
          font-size: 37px;
        }
      }
    }
  }
  #software {
    .software {
      &--cloub {
        padding: 10px 0 0 13px;
      }
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  #stay {
    .stay {

      &--focused {
        width: 100%;


        &__cite {
          font-size: 12px;
          width: 85%;
          margin: 34px 0 25px 38px;
        }

        &__saving {
          font-size: 30px;
        }

        .swiper {
          width: 35%;

        }

      }
    }
  }
  #contact {
    height: 420px;

    .contact {
      &--money {
        &__below {
          font-size: 30px;
        }
      }

      &--help {
        &__request {
          &--inputs {
            width: 372px;
            height: 44px;
            font-size: 15px;
            margin: 2px 0 20px 0;
          }

          &--own {
            &__input {
              width: 168px;
              height: 41px;
              font-size: 15px;
              margin: 0 0 20px 0;
            }
          }
        }
      }

    }
  }
  #software {
    .software {;

      &--cloub {
        font-size: 12px;
      }

      &--visa {
        display: flex;
        justify-content: space-between;

        &__overview a {
          margin: 13px 0 0 0;
          font-size: 12px;
        }

        &__address {
          img {
            width: 70%;
          }

          &--features {
            font-size: 16px;
          }

          &--pipang {
            font-size: 11px;
            margin: 13px 0 0 0;
          }
        }
      }
    }
  }

}

@media (max-width: 576px) {
  #stay {
    .stay {
      flex-direction: column;
      text-align: center;

      &--focused {
        width: 100%;

        &__img {
          align-items: center;
          display: flex;
          justify-content: space-between;

          img {
            padding: 0 0 20px 80px;
            width: 18%;
          }
        }

        &__cite {
          font-size: 12px;
          width: 85%;
          margin: 34px 0 25px 38px;
        }

        &__saving {
          font-size: 30px;
        }

        .swiper {
          width: 35%;

        }

      }
    }
  }
  #contact {
    .contact {
      &--help {

        &__request {

          &--btn {

            margin: 0 0 0 100px;
          }
        }
      }

      &--money {
        &__belows {
          width: 100%;
        }
      }
    }

    .contact {
      flex-direction: column;
      display: flex;
      text-align: center;

      &--money {
        &__below {
          font-size: 30px;
        }
      }

      &--help {
        &__request {
          &--inputs {
            width: 372px;
            height: 44px;
            font-size: 15px;
            margin: 2px 0 20px 0;
          }

          &--own {
            &__input {
              width: 168px;
              height: 41px;
              font-size: 15px;
              margin: 0 0 20px 0;
            }
          }
        }
      }

    }
  }
  #software {
    .software {;

      &--cloub {
        font-size: 12px;
      }

      &--visa {


        &__overview {
          font-size: 12px;

          a {
            margin: 13px 0 0 0;
            font-size: 12px;
          }

        }

        &__address {
          font-size: 11px;
          margin: 0 12px;

          img {
            width: 50%;
          }

          &--features {
            font-size: 16px;
          }

          &--pipang {
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
}

@media (max-width: 414px) {


}

@media (max-width: 380px) {
  #stay {
    .stay {
      .swiper {
        width: 300px;
        height: 200px;
      }
    }
  }
  #software {
    .software {
      &--visa {
        &__overview {
          font-size: 10px;

          a {
            margin: 13px 0 0 0;
            font-size: 9px;
          }

          &--sylka img {
            width: 10px;
            height: 11px;
          }
        }

        &__address {
          font-size: 11px;
          margin: 0 12px;

          &--features {
            font-size: 10px;
          }

        }
      }
    }
  }

  #contact {
    .contact {
      &--help {
        &__request {
          &--btn {
            margin: 0 0 0 79px;
          }

          &--own {
            &__input {
              width: 140px;
              font-size: 10px;
            }
          }

          &--inputs {
            width: 312px;
            height: 38px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
}

@media (max-width: 360px) {
  #stay {
    .stay {
      .swiper {
        width: 205px;
        height: 180px;
      }
    }
  }
}

@media (max-width: 320px) {
  #contact {
    .contact {
      &--help {
        &__request{
        &--inputs {
          width: 300px;
        }
      }}
    }
  }

}